<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ServiceConnection" connectionString="data source=.;integrated security=true;initial catalog=CleanS;"
      providerName="System.Data.SqlClient" />
    <add name="XPOServiceConnection" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=true;initial catalog=CleanS;"
      providerName="System.Data.SqlClient" />
    <add name="CleanS.Properties.Settings.CleanSConnectionString"
      connectionString="Data Source=DESKTOP-7NMQF6A;Initial Catalog=CleanS;Persist Security Info=True;User ID=sa;Password=111111"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>